<%- include('partials/header'); %> 
<%- include('partials/nav'); %> 

<div class="container col-12 p-0">
    <h5 class="col-12 border">
        Channels 
    </h5>
    <% var users = locals.channels.users %>
    <form class="col-12 p-0" action="/channels/add" method="post" enctype="multipart/form-data">
        <div class="col-12 border">
            <h5>Create a Channel</h5>
        </div>
        <div class="col-12 p-0 border">
            <div class="form-group col-12">
                <label>Channel Name</label>
                <input type="text" name="name" class="form-control" placeholder="Channel_Name">
            </div>
        
            <div class="form-group col-12">
                <label>Choose a Channel avatar</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="photo" name="avatar" id="avatar-upload">
                    <label class="custom-file-label" for="photo">Choose a file</label>
                </div>
            </div>
        </div> 
        
        <div id="add-user" class=" col-12 row m-0 p-0 row-horizon d-flex flex-row flex-nowrap scrolling-wrapper">
            <% if (users) { %>
                <% users.forEach(function(user) { %>
                    <div class="col-md-2 col-4 border ">
                        <div class="row p-0 m-0 justify-content-center">
                            <img src="<%= user.image %>" alt="<%= user.image %>" class="rounded-circle border border-dark text-center maxsize-6vw">
                        </div>
                        <div class="row p-0 m-0 justify-content-center">
                            <div class="div">
                                <input id="<%= user.id %>" type="checkbox"  name="users" value="<%= user.id %>">
                                <label for="<%= user.id %>"><%= user.name %></label>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>

        <div class="col-12  border">
            <button class="btn btn-secondary" id="update" type="submit">Create Channel</button>
        </div>
    </form>
    
    <% 
    var channels = locals.channels
    var owned = ("owned" in  channels) ? channels.owned : false
    var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
    %>

    <div id="owned-channels" class="user-channels col-12 p-0">
        <div class="col-12 border">
            <h4>Your Channels</h4>
        </div>
        <% if (owned) { %>
            <div class="col-12 p-0 row">
            <% owned.forEach(function(channel) { %>
                <div class="col-md-4 col-6 p-0 card">
                    <div class="col-12 px-0 pt-0">
                        <img src="<%= channel.image %>" class="card-img-top " alt="<%= channel.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= channel.name %></h5>
                            <a href="/channel/<%= channel.slug %>/" class="btn btn-secondary">Message <%= channel.name %></a>
                            <a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        <% }  %>
    </div>
    
    <div id="subscribed-channels" class="col-12 p-0">
            <div class="col-12 border">
            <h4>Subscribed Channels</h4>
        </div>
        <% if (subscribed) { %>
            <div class="col-12 p-0 row">
            <% subscribed.forEach(function(channel) { %>
                <div class="col-md-4 col-6 p-0 card">
                    <div class="col-12 px-0 pt-0">
                        <img src="<%= channel.image %>" class="card-img-top " alt="<%= channel.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= channel.name %></h5>
                            <a href="/channel/<%= channel.slug %>/" class="btn btn-secondary">Message <%= channel.name %></a>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        <% }  %>
    </div>
</div>

<%- include('partials/footer'); %>